<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woolwichshivajishakha">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SankhyaActivity"
            android:label="@string/title_activity_test"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".PoliciesActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".KhelActivity" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SwayamsevaksActivity" />
        <activity android:name=".MainScreenActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>